.About {
	margin: 0 auto;
}

	.About-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.About-column {
		width: 48%;
	}

	.About-headline {
		/* color: var(--accent-color); */
		margin-bottom: 35px;
		width: 100%;
		font-size: 2.5rem;
	}

	.About-picture {
		width: 100%;
		border-radius: 4px;
	}

	/* Media Queries */

@media screen and (max-width: 720px) {

	.About-column {
		width: 70%;
		margin-bottom: 1em;
	}

	.About > .button-cta {
		margin: 1em auto;
	}


}

