.Footer {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 10;

	font-family: 'Open Sans', sans-serif; /* League Gothic */
	font-size: 0.8em;
	transition: top 0.3s;
	background: var(--secondary-color);
	padding: 3em 0;
	transition: all 0.2s ease-in-out;
}

  	.Footer-wrap {
		width: var(--wrap-width);
		margin: 0 auto;
	}

	.Back-to-top {
		cursor: pointer;
		margin-bottom: 50px;
	}

	.Social-icons {
		margin-left: -3px;
		font-size: 2rem;
		margin-bottom: 25px;
	}

		.Social-icons a {
			
			margin-right: 10px;
		}

	/* .by {

	} */