.Header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	font-family: 'Open Sans', sans-serif; /* League Gothic */
	font-size: 0.8em;
	transition: top 0.3s;
	background: var(--secondary-color);
	padding: 3em 0;
	transition: all 0.2s ease-in-out;
}

	.Header-shadow {
		padding: 1em 0;
		box-shadow: 0px -5px 15px rgba(255,255,255,0.15);
		transition: all 0.2s ease-in-out;
	}

.Header-wrap {
	width: 90%;  
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

	.Logo {
		color: var(--primary-color);
		cursor: pointer;
	}