
	.Navigation-element {
		display: inline;
		margin-left: 25px;
		cursor: pointer;
	}

		.Navigation-element a {
			font-weight:bold;
			font-size: 13px;
		}

		.Navigation-element:hover a {
			color: var(--accent-color);
		}

		.active {
			color: var(--accent-color);
			transition: all 0.2s ease-in-out;
		}
	/* Hamburger menu & mobile nav */

.Mobile-nav {
	display: none;
}

@media (max-width: 768px) {
	.Navigation {
	display: none;
	}

	.Mobile-nav {
	display: block;
	}
	}
	.Mobile-nav ul {
	margin: auto 0 auto auto;
	}
	.Mobile-nav-element {
		list-style: none;
		font-size: 2em;
		text-align: right;
		text-decoration: 0;
	}

		.Mobile-nav-element:hover a {
		color: var(--accent-color);
		cursor: pointer;
		}

	.Hamburger {
	position: relative;
	width: 30px;
	height: 25px;
	z-index: 6;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);

	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	}

	.Hamburger-panel {
	max-width: 500px;
	background-color: var(--secondary-color);
	border-left: 2px solid var(--primary-color);
	background-size: 117px 188px;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.34, 1.01);
	position: fixed;
	z-index: 5;
	right: -100%;
	top: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	padding: 3em;
	display: flex;

	}

	.Hamburger-panel.open {
	visibility: visible;
	width: 100%;
	right: 0;
	opacity: 1;
	}


	.Hamburger span {
	display: block;
	position: absolute;

	height: 4px;
	width: 100%;
	background: var(--primary-color);
	border-radius: 4px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	}

	.Hamburger:hover span {
		background: var(--accent-color);
	}

	.Hamburger span:nth-child(1) {
		top: 0px;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}

	.Hamburger span:nth-child(2) {
		top: 10px;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}

	.Hamburger span:nth-child(3) {
		top: 20px;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}

		.Hamburger.open span:nth-child(1) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		.Hamburger.open span:nth-child(2) {
			width: 0%;
			opacity: 0;
		}

		.Hamburger.open span:nth-child(3) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			top: 21px;
			}
