.Project {
    position: relative;
    width: 48%;
    margin-bottom: 25px;
    border-radius: 4px;
    padding: 20px;
    background: var(--secondary-color-light);
    overflow: hidden;
               
    background: rgba(14,20,19,0.8);

}

    .Project-image-wrap {
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

    }

        .Project:hover .Project-image-wrap {
            transform: scale(1.2);
            transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275); 
        }

        .Project-image {
            position: relative;
            width: 100%;
            margin: 0 auto;            
            border-radius: 4px;
        }

    .Project-title {
        font-weight: bold;
        margin-bottom: 1em;

    }

    .Project-description {
        margin-bottom: 1em;
    }

    .Project-links {
        display: flex;
        align-items: center;
        justify-content: left;
        margin-bottom: 1em;
        
    }

        .Project-links a {
            display: flex;
            margin-right: 0.5em;
            text-decoration: none;
        }

        .Project-url {
            display: flex;
            align-items: center;
        }
        
        .Project-url em {
            font-size: 0.8rem;
            color: var(--primary-color-dark);
            line-height: 1.5em;
            margin-left: 0.5em;
        }

    .Project-tags {
        list-style: none;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        font-size: 0.8rem;
        margin-bottom: 1em;
        color: var(--primary-color-dark)
    }

        .Project-tag {
            margin-right: 20px;
        }

        .Project-tag:first-of-type {
            color: var(--accent-color)
        }


@media screen and (max-width: 720px) {

    .Project {
        width: 100%;
        margin-bottom: 1em;
    }
}
