.Projects {
    margin: 0 auto;
    color: var(--primary-color);
}

.Projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.Project-headline {
    font-size: 2.5rem;
    color: var(--primary-color);
    position: relative;
    margin-bottom: 1em;
}