html {
	font-size: 16px;
}

/* Vars */
:root {
	--wrap-width: 800px;

	--primary-color: #e7dedf;
	--primary-color-light: #fff;
	--primary-color-dark:  #b4bdb9;

	--secondary-color: #182120;
	--secondary-color-light: #2c3835;
	--secondary-color-dark: #0e1413;

	--accent-color: #f6e27f;
    --accent-color-opacity: rgba(246, 226, 127, 0.2);
	--accent-color-dark: #e6ca5c1a;
}
/* 
[data-theme='dark'] {
	--primary-color: #182120;
	--primary-color-light: #2c3835;
	--primary-color-dark:  #0e1413;

	--secondary-color: #e7dedf;
	--secondary-color-light: #fff;
	--secondary-color-dark: #b4bdb9;

	--accent-color: #f6e27f;
	--accent-color-dark: #e6ca5c1a;
} */

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
	
body {
	background: var(--secondary-color);
	height: 100%;
	color: var(--primary-color);
	
	-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
}

	/* Body minus nav */

	.Content {
		max-width: var(--wrap-width);
		margin: 0 auto;
	}

		.Content > div {
			padding: 100px 0px;
		}

		.load {
			animation: load 1s ease;
		}

	.separator {
		position: relative;
	}
	
		.separator::after {
			content: "";
			position: absolute;
			top: 1.33em;
			left: 0;
			width: 1em;
			height: 0.1em;
			background: var(--accent-color);
		}


/* Text */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans&family=Fjalla+One&display=swap');

h1 {
	font-family: 'League Gothic', sans-serif;
	font-weight:500;
	line-height:0.95em;
	font-size: 5rem;
}
	
h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight:500;
	line-height:1.4em;
	font-size: 1rem;
}
	
p {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8125rem;
	letter-spacing:-0.01em;
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--accent-color);
}

.button-cta {
    padding: 1em 2em;
    margin-top: 15px;
    margin-right: 1em;
    background: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    background: var(--primary-light);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight:500;
    line-height:0.95em;
    cursor: pointer;
}

    .button-cta:hover {
        background: var(--accent-color);
        color: var(--secondary-color);
    }


@keyframes load {
	0% {
		opacity: 0;
		transform: translateX(-60px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}


/* Media queries */

@media screen and (max-width: 850px) {

	:root {
		--wrap-width: 90%;
	}

	h1 {
			font-size: 4.5em;
	}
	h2 {
			font-size: 1em;
	}

	.About-backstory-column {
		width: 100%;
	}

}

@media screen and (max-width: 550px) {

	h1 {
			font-size: 3.5em;
	}
	
	h2 {
			font-size: 1em;
	}

}